$color_1: #03a9f4;

.input-field {
	.prefix.active {
		color: $color_1 !important;
	}
}
[type='checkbox'] {
	&:checked {
		&+span {
			&:not(.lever) {
				&:before {
					border-right: 2px solid $color_1 !important;
					border-bottom: 2px solid $color_1 !important;
				}
			}
		}
	}
}
input {
	&:not([type]) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=text] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=password] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=email] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=url] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=time] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=date] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=datetime] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=datetime-local] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=tel] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=number] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
input[type=search] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				&+label {
					color: $color_1;
				}
			}
		}
	}
}
textarea.materialize-textarea {
	&:focus {
		&:not([readonly]) {
			&+label {
				color: $color_1;
			}
		}
	}
}


input {
	&:not([type]) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=text] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=password] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=email] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=url] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=time] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=date] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=datetime] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=datetime-local] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=tel] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=number] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
input[type=search] {
	&:not(.browser-default) {
		&:focus {
			&:not([readonly]) {
				border-bottom: 1px solid $color_1;
				box-shadow: 0 1px 0 0 $color_1;
			}
		}
	}
}
textarea.materialize-textarea {
	&:focus {
		&:not([readonly]) {
			border-bottom: 1px solid $color_1;
			box-shadow: 0 1px 0 0 $color_1;
		}
	}
}
